body {
  /* background-image: url(img/bg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar {
  background-color: transparent;
}

.sidebar > h1 {
  font-weight: 700;
}
