body {
  /* background-image: url(img/bg.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar {
  background-color: transparent;
}

.sidebar > h1 {
  font-weight: 700;
}

.illustration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}

.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 48px;
  row-gap: 60px;
}

#czy,
#wxn,
#dx,
#qyg,
#wmy,
#wzh {
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#czy {
  background-image: url("https://raw.githubusercontent.com/Juniper1106/docsify/main/img/czy_avatar.jpg");
}

#wxn {
  background-image: url("https://raw.githubusercontent.com/Juniper1106/docsify/main/img/wxn_avatar.jpg");
}

#dx {
  background-image: url("https://raw.githubusercontent.com/Juniper1106/docsify/main/img/dx_avatar.jpg");
}

#qyg {
  background-image: url("https://raw.githubusercontent.com/Juniper1106/docsify/main/img/qyg_avatar.jpg");
}

#wmy {
  background-image: url("https://raw.githubusercontent.com/Juniper1106/docsify/main/img/wmy_avatar.jpg");
}

#wzh {
  background-image: url("https://raw.githubusercontent.com/Juniper1106/docsify/main/img/budapest.png");
}
